#IDEaSInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  #IDEaSSelect {
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  td.IDEaSSection {
    background-color: white;
  }
  td.IDEaSContact {
    background-color: #f6f6f6;
    padding: 10px;
  }
  img.IDEaSPhoto {
    float:right; 
    margin: 0px 10px 0px 0px;
  }